.primary-navigation ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #564E58;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
body {
    background-color: #904E55;
}
main {
    background-color: #564E58;
    border-radius: 20px;
}
h1 {
    color: #BFB48F;
    text-align: center;

}
h3, h4 {
    text-align: center;
    
}
div img {
  display: block;
  margin: auto;
  width: 50%;
}
p {
    color: white;
    text-align: center;
}
div {
  background-color: #988F7A;
  border-radius: 20px;
}
@media screen and (width >=500px){
  .cardlist {
              display:grid;
              grid-template-columns: 1fr 1fr;
               gap:2rem
            }
}
@media screen and (width >=800px){
    

    .cardlist {display:grid;
              grid-template-columns: 1fr 1fr 1fr 1fr}

}
